<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Petanque</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row col-12>
      <h1 ion-text color="primary">Mon suivi Pétanque</h1>
    </ion-row>
    <ion-row class="row-flex">
      <ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center>
        <ion-item>
          <ion-label>Année</ion-label>
          <ion-select [(ngModel)]="annee" (ngModelChange)="onChangeYear($event)">
            <ion-option value="2017">2017</ion-option>
            <ion-option value="2018">2018</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center>
        <button ion-button (click)="addConcours()">
          <ion-icon class="icon-btn-padding-right" name="add"></ion-icon>
          Ajouter concours
        </button>
      </ion-col>
      <ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-center>
        <h3 ion-text color="primary">Résumé</h3>
        {{nbConcours}} concours
      </ion-col>
    </ion-row>

    <ion-row>


      <!-- Formulaire de saisie de concours -->
      <ion-col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4>
        <form (ngSubmit)="saveConcours()" *ngIf="displayFormConcours" [formGroup]="concoursForm">
          <ion-item>
            <ion-input type="hidden" formControlName="id" name="id"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Lieu</ion-label>
            <ion-input type="text" formControlName="ville" name="ville"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Club</ion-label>
            <ion-input type="text" formControlName="club" name="club"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Date</ion-label>
            <ion-input type="date" formControlName="date" name="date"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Formation</ion-label>
          </ion-item>
          <ion-list radio-group formControlName="formation">
            <ion-item>
              <ion-label>TAT</ion-label>
              <ion-radio value="TAT"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Doublette</ion-label>
              <ion-radio value="D"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Doublette Mixte</ion-label>
              <ion-radio value="DM"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Triplette</ion-label>
              <ion-radio value="T"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Triplette Mixte</ion-label>
              <ion-radio value="TM"></ion-radio>
            </ion-item>
          </ion-list>
          <ion-item>
            <ion-label>Nb équipes</ion-label>
            <ion-input type="number" formControlName="nbEquipes" name="nbEquipes"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Nb parties gagnées</ion-label>
            <ion-input type="number" formControlName="nbPartiesGagnees" name="nbPartiesGagnees"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Nb parties perdues</ion-label>
            <ion-input type="number" formControlName="nbPartiesPerdues" name="nbPartiesPerdues"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label item-start>Résultat</ion-label>
            <ion-input type="text" formControlName="resultat" name="resultat"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label item-start>Repêchage</ion-label>
            <ion-checkbox formControlName="repechage" checked="repechage"></ion-checkbox>
          </ion-item>
          <button ion-button type="submit" block>Enregistrer</button>
          <button ion-button (click)="cancel()" block color="light">Annuler</button>
        </form>
      </ion-col>

      <!-- list des concours -->
      <ion-col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4>
        <ion-row class="flex-center">
          <ion-list text-center>
            <ion-item *ngFor="let concours of myConcours | async">
              <ion-card *ngIf="concours.annee == annee">
                <ion-card-content>
                  <ion-card-title class="card-concours">
                    <ion-row class="card-concours">
                      <ion-col>
                        <div class="card-title">{{concours.name}}</div>
                      </ion-col>
                      <ion-col>
                        <div class="card-title-date">
                          <ion-item>
                            <ion-icon name="calendar"></ion-icon>
                            {{concours.date}}
                          </ion-item>
                        </div>
                      </ion-col>
                      <ion-col *ngIf="concours.points && concours.points > 0">
                        <ion-badge>{{concours.points}} pts</ion-badge>
                      </ion-col>
                    </ion-row>
                  </ion-card-title>
                  <ion-row>
                    <ion-col>
                      <ion-item *ngIf="concours.ville">
                        <ion-icon name="pin"></ion-icon>
                        {{concours.ville}}
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item *ngIf="concours.formation">
                        Formation: {{concours.formation}}
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col *ngIf="concours.nbEquipes && concours.nbEquipes > 0">
                      {{concours.nbEquipes}} équipes
                    </ion-col>
                    <ion-col *ngIf="concours.nbPartiesGagnees || concours.nbPartiesPerdues">
                      <span *ngIf="concours.nbPartiesGagnees > 0" class="color-secondary">{{concours.nbPartiesGagnees}}G</span>
                      <span *ngIf="concours.nbPartiesPerdues > 0" class="color-danger">{{concours.nbPartiesPerdues}}P</span>
                    </ion-col>
                    <ion-col *ngIf="concours.resultat !== ''">
                      <span>{{concours.resultat}}</span>
                      <span *ngIf="concours.repechage">( repechage )</span>
                    </ion-col>
                  </ion-row>
                  <ion-row class="flex-center">
                    <button ion-button (click)="editConcours(concours)">Modifier</button>
                  </ion-row>
                </ion-card-content>
              </ion-card>
              <!-- {{concours | json}} -->
            </ion-item>
          </ion-list>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
