<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title float-left class="lh40">Accueil</ion-title>

    <ion-title float-right>
      <ion-avatar class="avatar" *ngIf="connected">
        <!-- <img [src]="userImageUrl"> -->
        <span (click)="openConnectMenu()">{{displayName}}</span>
      </ion-avatar>
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row text-center>
      <ion-col col-12 text-center>
          <h1 text-center>Mon Suivi Pétanque</h1>
      </ion-col>
      <hr>
    </ion-row>

    <ion-row *ngIf="connected" col-12>
      <ion-col col-12 col-sm-12 col-md-3 text-center>
        <button ion-button icon-left outline large (click)="accessAccountPage()">
          <ion-icon name="contact"></ion-icon>
          <div>Profil</div>
        </button>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-3 text-center>
        <button ion-button icon-left outline large (click)="accessPetanquePage()">
          <ion-icon name="trending-up"></ion-icon>
          <div>Suivi</div>
        </button>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-3 text-center>
          <button ion-button icon-left outline large (click)="accessCalendrierPage()">
            <ion-icon name="text"></ion-icon>
            <div>Calendrier</div>
          </button>
        </ion-col>
      <ion-col col-12 col-sm-12 col-md-3 text-center>
        <button ion-button icon-left outline large>
          <ion-icon name="text"></ion-icon>
          <div>Chat</div>
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!connected" col-12>
      <ion-col col-12>
        <ion-grid>
          <ion-row text-center>
            <ion-col col-12 text-center>
              <h4 text-center> Vous avez déjà un compte, ou vous voulez en créer un.</h4>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 text-center>
              <ion-card>
                <ion-card-header>
                    Connexion avec login/mot de passe
                </ion-card-header>
                <ion-card-content>
                    <ion-input type="text" [(ngModel)]="email" placeholder="email"></ion-input>
                    <ion-input type="password" [(ngModel)]="password" placeholder="mot de passe"></ion-input>
                    <button ion-button (click)="login(email, password)" [disabled]="!email || !password">
                      Se connecter
                    </button>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col col-12 text-center>
              <button ion-button outline (click)="signInWithFacebook()">Se connecter avec Facebook</button>
            </ion-col>
            <ion-col col-12 text-center>
              <button ion-button outline (click)="signInWithGoogle()" (tap)="signInWithGoogle()">Se connecter avec Google</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-col col-sm-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let sport of mySports">
      <ion-card *ngFor="let sport of mySports" (click)="accessSport(sport)">
        <ion-card-header>
          {{sport.name}}
        </ion-card-header>
        <ion-card-content></ion-card-content>
        <img [src]="sport.img"/>

      </ion-card>
    </ion-col> -->



  <!-- <ion-row >


    <button ion-button outline (click)="signInWithFacebook()" *ngIf="!connected">Se connecter avec Facebook</button>
    <button ion-button outline (click)="signInWithGoogle()">Se connecter avec Google</button>
  </ion-row> -->
</ion-content>

<!-- <ion-content padding> -->

<!--<button ion-button outline (click)="signOut()" *ngIf="connected">Logout</button>-->
<!-- </ion-content> -->
