page-home {
  .avatar{
    display: flex;
    img{
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
    span{
      line-height: 40px;
      padding-left: 10px;
    }
  }
  .lh40{
    line-height: 40px;
  }
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    width: 300px;
    padding: 20px;
    /*cursor: pointer;
    &:hover{
    	cursor: pointer;
    	box-shadow: 0 0 10px #333;
    }*/

    img{
      opacity: 0.7;
      /*max-height: 120px;
      max-width: 120px;*/
    }
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 3.0em;
    width: calc(100% - 25px);
    font-weight: bold;
    color: #555;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}
