<ion-header>

  <ion-navbar>
    <ion-title>Mon compte</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="hasNoProfil">
      <ion-col col-12 >
        <div ion-text>* Vous n'avez pas compléter votre profil, vous devez le compléter pour accéder à l'application.</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <h1 ion-text text-center color="primary">Mon Profil</h1>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user">
      <ion-col col-12 text-center *ngIf="user.displayName">
        <em ion-text>Connecté en tant que {{ user.displayName }}</em>
      </ion-col>
      <ion-col col-12>
        <form (ngSubmit)="saveAccount()" [formGroup]="accountForm">

          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input type="text" formControlName="email" name="email" disabled></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Pseudo</ion-label>
            <ion-input type="text" formControlName="pseudo" name="pseudo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Ville</ion-label>
            <ion-input type="text" formControlName="ville" name="ville"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Club</ion-label>
            <ion-input type="text" formControlName="club" name="club"></ion-input>
          </ion-item>

          <button ion-button type="submit" block>Enregistrer</button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
